{% extends "base.html" %}

{% block headExtra %}
	<script type="text/javascript" async
	    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML">
	</script>
	<script type="text/x-mathjax-config">
	    MathJax.Hub.Config({
		tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},
		TeX: {
		    extensions: ["AMSmath.js"]
		},
	    });
	</script>
	<link href="https://fonts.googleapis.com/css?family=Oxygen+Mono:300" rel="stylesheet"> 
{% endblock %}

{% block header %}
		<ul class="links">
		    <li class="home">
			<a href="/">Home</a>
		    </li>
		</ul>
{% endblock %}

{% block footer %}
<div class="post_footer">
    Follow me on twitter <a href="https://twitter.com/me_coot">@me_coot</a>
</div>
{% endblock %}
