/node_modules
/bower_components
/posts/free-monads
*.hi
*.o
*.aux
*.log
*.pdf
/dist
/haskell/free-garden
todo.md
/latex/*.dvi
/latex/*.svg
/latex/*.log
/latex/*.aux
/latex/*.ps
/latex/*.pdf
/templates/posts/**/*.lhs.html
