/node_modules
/bower_components
/posts/free-monads
*.hi
*.o
*.aux
*.log
*.pdf
/dist
/dist.tar.gz
/haskell/free-garden
todo.md
/latex/*.dvi
/latex/*.svg
/latex/*.log
/latex/*.aux
/latex/*.ps
/latex/*.pdf
/posts/lhs/.build
/**/*.pyg
/presentations/*.pdf
presentations/_minted-*
/presentations/lhs/*.pdf
/presentations/lhs/*.ptb
/presentations/lhs/*.tex
/presentations/lhs/*.hs
/images/*.png
