{% extends "posts/base.html" %}

{% block main %}
<header>
    <h1 class="section_h" id="garden-of-free-agebras">Garden of Free Algebras</h1>
</header>
<p>
    In <a href="/posts/free-monads.html">previous post</a> we introduced the
    notion of a free algebra.  I would like to give more examples of free
    algebras.
</p>
<ul>
    <li>
	Free non associative semigroup
<pre class="haskell"><code>class NonAssociativeSemigroup m where
    -- associativity law is not assumed at this point
    mappend :: m -> m -> m

data FreeNonAssSemigr a = Generator a | (FreeNonAssSemigr a) :*: (FreeNonAssSemigr a)

instance NonAssociativeSemigroup where
    mappend = :*:
</code></pre>
    </li>
</ul>
{% endblock %}
