html, body {
  font-size: 12px;
}

main,
.info-hdr,
footer {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#img_container {
    float: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
}

#img_container p {
    padding-left: 15px;
    margin-top: 0;
}

#img_container .personal_data {
    padding-left: 45px;
}

.info-hdr img.me {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

.info-hdr img.me {
    width: 150px;
    height: 150px;
}

.info-hdr #name {
    margin-bottom: 0px;
}

.info-hdr #name .subtitle {
  font-size: 0.5em;
  width: 50%;
  margin: 0 auto;
}

#name span {
    position: relative;
    right: 0px;
    font: inherit;
}

.cv {
    display: none;
}

address .personal {
    float: left;
}

address .social {
    display: none;
    float: right;
    margin-top: 0px;
    margin-right: 20px;
}

.print_only {
    display: block;
}

.print_only.inline {
    display: inline;
}

.row:not(:last-child) {
    margin-bottom: 5px;
}

footer .indie-footer {
    display: none;
}

.badge,
.badge.fr{
    padding: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}
