html, body {
  font-family: 'Open Sans', sans-serif;
  font-display: swap;
  font-variant-ligatures: common-ligatures discretionary-ligatures contextual;
  text-rendering: optimizeLegibility;
  font-size: 16px;
}

body {
    width: 100%;
    color: #444;
    overflow-x: hidden;
    margin: 0px;
}

.wrapper {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

header {
    position: relative;  /* absolute h1 */
    min-width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

main {
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.langs {
    margin-top: 10px;
}

.clearfix {
    clear: both;
}

img {
    /* ie10 fix */
    border: 0;
}

header img.me {
    display: block;
    width: 250px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0px 0px 10px #444;
    -moz-box-shadow: 0px 0px 10px #444;
    -ms-box-shadow: 0px 0px 10px #444;
    -o-box-shadow: 0px 0px 10px #444;
    box-shadow: 0px 0px 10px #444;
}

@-webkit-keyframes rotate {from {-webkit-transform: rotateZ(0deg); -moz-transform: rotateZ(0deg); -ms-transform: rotateZ(0deg); -o-transform: rotateZ(0deg); transform: rotateZ(0deg);} to {-webkit-transform: rotateZ(360deg); -moz-transform: rotateZ(360deg); -ms-transform: rotateZ(360deg); -o-transform: rotateZ(360deg); transform: rotateZ(360deg);}}
@-moz-keyframes rotate {from {-webkit-transform: rotateZ(0deg); -moz-transform: rotateZ(0deg); -ms-transform: rotateZ(0deg); -o-transform: rotateZ(0deg); transform: rotateZ(0deg);} to {-webkit-transform: rotateZ(360deg); -moz-transform: rotateZ(360deg); -ms-transform: rotateZ(360deg); -o-transform: rotateZ(360deg); transform: rotateZ(360deg);}}
@-o-keyframes rotate {from {-webkit-transform: rotateZ(0deg); -moz-transform: rotateZ(0deg); -ms-transform: rotateZ(0deg); -o-transform: rotateZ(0deg); transform: rotateZ(0deg);} to {-webkit-transform: rotateZ(360deg); -moz-transform: rotateZ(360deg); -ms-transform: rotateZ(360deg); -o-transform: rotateZ(360deg); transform: rotateZ(360deg);}}
@keyframes rotate {from {-webkit-transform: rotateZ(0deg); -moz-transform: rotateZ(0deg); -ms-transform: rotateZ(0deg); -o-transform: rotateZ(0deg); transform: rotateZ(0deg);} to {-webkit-transform: rotateZ(360deg); -moz-transform: rotateZ(360deg); -ms-transform: rotateZ(360deg); -o-transform: rotateZ(360deg); transform: rotateZ(360deg);}}

header #name {
    color: #222;
    font-weight: 300;
    font-size: 1.8em;
    text-align: center;
}

header a i.fa {
    color: #333;
}

header p {
  font-weight: 300;
  font-size: 1.2em;
}

section {
  margin-bottom: 40px;
}

article {
  margin-bottom: 40px;
}

@media screen and (max-width: 920px), screen and (max-height: 500px) {
    .wrapper {
	width: 100%;
	min-width: 300px;
    }

    header {
	max-width: 380px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
    }

    main {
	max-width: 540px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
    }
}

@media screen and (min-width: 921px) and (min-height: 500px) {
    .wrapper {
	width: 920px;
    }

    header {
	float: left;
	width: 380px;
    }

    main {
	float: right;
	width: 540px;
    }
}

footer {
    margin-top: 20px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.btn:visited {
    color: inherit;
    border: 0;
}

a {
    color: rgb(63,81,181);
    text-decoration: none;
}

address {
    margin-top: 10px;
    font-size: 0.85em;
}

address .personal {
    float: left;
}

address .social {
    margin-right: 20px;
    float: right;
}

.social a {
    display: block;
}

a .icon {
    width: 18px;
    vertical-align: middle;
}

@-webkit-keyframes fly {0% {top: 0; left: 0; opacity: 1;} 50% {top: -10px; left: 15px; opacity: 0.6;} 80% {top: -20px; left: 40px; opacity: 0;} 81% {top: 0px; left: 0px; opacity: 0;} 100% {top: 0px; left: 0px; opacity: 1;}}
@-moz-keyframes fly {0% {top: 0; left: 0; opacity: 1;} 50% {top: -10px; left: 15px; opacity: 0.6;} 80% {top: -20px; left: 40px; opacity: 0;} 81% {top: 0px; left: 0px; opacity: 0;} 100% {top: 0px; left: 0px; opacity: 1;}}
@-o-keyframes fly {0% {top: 0; left: 0; opacity: 1;} 50% {top: -10px; left: 15px; opacity: 0.6;} 80% {top: -20px; left: 40px; opacity: 0;} 81% {top: 0px; left: 0px; opacity: 0;} 100% {top: 0px; left: 0px; opacity: 1;}}
@keyframes fly {0% {top: 0; left: 0; opacity: 1;} 50% {top: -10px; left: 15px; opacity: 0.6;} 80% {top: -20px; left: 40px; opacity: 0;} 81% {top: 0px; left: 0px; opacity: 0;} 100% {top: 0px; left: 0px; opacity: 1;}}

.social > a {
  position: relative;
  padding-left: 20px;
}

.social > a .icon {
  position: absolute;
  top: 0;
  left: 0;
}

.social > a #twitter_i {
  top: 4px;
}

#twitter i.fa.animate {
    -webkit-animation: fly 1s ease 0s 1;
    -moz-animation: fly 1s ease 0s 1;
    -ms-animation: fly 1s ease 0s 1;
    -o-animation: fly 1s ease 0s 1;
    animation: fly 1s ease 0s 1;
}

.badge {
    display: inline-block;
    padding: 3px 6px 5px 6px;
    margin: 4px 2px;
    border-radius: 2px;
    color: #222;
    background-color: #e6e6e6;
    -webkit-box-shadow: 1px 1px 3px #f0f0f0;
    -moz-box-shadow: 1px 1px 3px #f0f0f0;
    -ms-box-shadow: 1px 1px 3px #f0f0f0;
    box-shadow: 1px 1px 3px #f0f0f0;
    font-variant: all-small-caps;
    font-size: 0.9em;
    line-height: 1em;
    font-weight: 300;
}

.badge.fr {
    color: #222;
    background-color: #e6e6e6;
    font-weight: 600;
    -webkit-box-shadow: 1px 1px 3px #f0f0f0;
    -moz-box-shadow: 1px 1px 3px #f0f0f0;
    -ms-box-shadow: 1px 1px 3px #f0f0f0;
    box-shadow: 1px 1px 3px #f0f0f0;
}

.badge.cv {
    margin-top: 10px;
    cursor: pointer;
    font-weight: 300;
}

.cv:hover {
    box-shadow: 1px 1px 1px #666;
}

section {
    padding-right: 10px;
}

.print_only {
    display: none;
}

.section_h {
    width: 40%;
    border-bottom: 1px solid #aaa;
    font-weight: 300;
}

.bio h4 {
  font-weight: 300;
  font-variant-caps: all-small-caps;
  margin-top: 8px;
  margin-bottom: 5px;
}


.portfolio h3 {
    font-weight: 300;
    margin-bottom: 0.2em;
}

.portfolio h3 .title:before {
  font-weight: 300;
  margin-right: 2px;
  content: "•••";
}

.portfolio h3 a {
    color: inherit;
}

.portfolio h3 a:visited {
    color: #444;
}

.portfolio h3 a i.fa {
    color: #888;
}

.portfolio h3 a:visited i.fa {
    color: #ccc;
}

.indie-link {
    display: inline-block;
    position: relative;
}

.indie-logo {
    position: absolute;
    height: 30px;
    top: -15px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.indie-logo:hover {
  transform: translateX(25%) scale(1.25);
}
