html, body {
  font-family: 'Open Sans', sans-serif;
  font-display: swap;
  font-variant-ligatures: common-ligatures discretionary-ligatures contextual;
  text-rendering: optimizeLegibility;
  font-size: 16px;
}

body {
    width: 100%;
    color: #444;
    overflow-x: hidden;
    margin: 0px;
}

#wrapper {
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    transition: opacity .5s linear;
    opacity: 1;
}

#wrapper.updating {
  opacity: 0;
}

#update-info {
  display: none;
  position: fixed;
  top: 15px;
  right: 15px;
  background: white;
}

#update-info.show {
  display: block;
}

.info-hdr {
    position: relative;  /* absolute h1 */
    min-width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

main {
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    min-height: 100vh;
}

.post main {
    padding-bottom: 60px;
}

.langs {
    margin-top: 10px;
}

.clearfix {
    clear: both;
}

img {
    /* ie10 fix */
    border: 0;
}

.info-hdr img.me {
    display: block;
    width: 250px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    margin: 10px auto 20px;
    -webkit-box-shadow: 0px 0px 10px #444;
    -moz-box-shadow: 0px 0px 10px #444;
    -ms-box-shadow: 0px 0px 10px #444;
    -o-box-shadow: 0px 0px 10px #444;
    box-shadow: 0px 0px 10px #444;
}

.info-hdr p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.info-hdr .links {
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding-inline-start: 0;
}

.post .info-hdr {
    min-width: 200px;
}

.post .info-hdr .links .about {
    display: none;
}

pre.haskell {
    padding: 10px 20px;
    background-color: #dbdbdb;
    color: #505050;
    border-radius: 3px;
    white-space: pre;
    box-shadow: 0px 0px 2px rgba(0,0,0,.7);;
}

.mjx-chtml.MJXc-display {
    display: block;
    padding: 10px 20px;
    background-color: #dbdbdb;
    color: #505050;
    box-shadow: 0px 0px 2px rgba(0,0,0,.7);;
}

@-webkit-keyframes rotate {from {-webkit-transform: rotateZ(0deg); -moz-transform: rotateZ(0deg); -ms-transform: rotateZ(0deg); -o-transform: rotateZ(0deg); transform: rotateZ(0deg);} to {-webkit-transform: rotateZ(360deg); -moz-transform: rotateZ(360deg); -ms-transform: rotateZ(360deg); -o-transform: rotateZ(360deg); transform: rotateZ(360deg);}}
@-moz-keyframes rotate {from {-webkit-transform: rotateZ(0deg); -moz-transform: rotateZ(0deg); -ms-transform: rotateZ(0deg); -o-transform: rotateZ(0deg); transform: rotateZ(0deg);} to {-webkit-transform: rotateZ(360deg); -moz-transform: rotateZ(360deg); -ms-transform: rotateZ(360deg); -o-transform: rotateZ(360deg); transform: rotateZ(360deg);}}
@-o-keyframes rotate {from {-webkit-transform: rotateZ(0deg); -moz-transform: rotateZ(0deg); -ms-transform: rotateZ(0deg); -o-transform: rotateZ(0deg); transform: rotateZ(0deg);} to {-webkit-transform: rotateZ(360deg); -moz-transform: rotateZ(360deg); -ms-transform: rotateZ(360deg); -o-transform: rotateZ(360deg); transform: rotateZ(360deg);}}
@keyframes rotate {from {-webkit-transform: rotateZ(0deg); -moz-transform: rotateZ(0deg); -ms-transform: rotateZ(0deg); -o-transform: rotateZ(0deg); transform: rotateZ(0deg);} to {-webkit-transform: rotateZ(360deg); -moz-transform: rotateZ(360deg); -ms-transform: rotateZ(360deg); -o-transform: rotateZ(360deg); transform: rotateZ(360deg);}}

.info-hdr #name {
    color: #222;
    font-weight: 300;
    font-size: 1.8em;
    text-align: center;
}

.info-hdr a i.fa {
    color: #333;
}

.info-hdr p {
  font-weight: 300;
  font-size: 1.2em;
}

section {
  margin-bottom: 40px;
}

ul > li section {
  margin-top: 5px;
  margin-bottom: 15px;
}

article {
  margin-bottom: 40px;
}

@media screen and (max-width: 920px), screen and (max-height: 500px) {
    #wrapper {
	width: 100%;
	min-width: 300px;
    }

    .info-hdr {
	max-width: 380px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
    }

    .post .info-hdr {
	max-width: 740px;
    }

    main {
	max-width: 540px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
    }

    .post main {
      max-width: 740px;
    }
}

@media screen and (min-width: 921px) and (min-height: 500px) {
    #wrapper {
	width: 920px;
    }

    .info-hdr {
	float: left;
	width: 380px;
	height: 100vh;
	position: fixed;
    }

    .post .info-hdr {
	float: none;
	width: 740px;
	position: static;
	margin-left: auto;
	margin-right: auto;
	height: auto;
    }

    main {
	float: right;
	width: 540px;
    }

    .post main {
	width: 740px;
	float: none;
	margin-left: auto;
	margin-right: auto;
    }

    @supports (display: flex) {
      .info-hdr {
	display: flex;
	flex-direction: column;
	justify-content: center;
      }

      /*
       * .post .info-hdr {
       *     display: none;
       * }
       */
    }
}

footer {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: .8rem;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.btn:visited {
    color: inherit;
    border: 0;
}

a {
    color: rgb(63,81,181);
    text-decoration: none;
}

address {
    margin-top: 10px;
    font-size: 0.85em;
}

address .personal {
    float: left;
}

address .social {
    margin-right: 20px;
    float: right;
}

.social a {
    display: block;
}

a .icon {
    width: 18px;
    vertical-align: middle;
}

@-webkit-keyframes fly {0% {top: 0; left: 0; opacity: 1;} 50% {top: -10px; left: 15px; opacity: 0.6;} 80% {top: -20px; left: 40px; opacity: 0;} 81% {top: 0px; left: 0px; opacity: 0;} 100% {top: 0px; left: 0px; opacity: 1;}}
@-moz-keyframes fly {0% {top: 0; left: 0; opacity: 1;} 50% {top: -10px; left: 15px; opacity: 0.6;} 80% {top: -20px; left: 40px; opacity: 0;} 81% {top: 0px; left: 0px; opacity: 0;} 100% {top: 0px; left: 0px; opacity: 1;}}
@-o-keyframes fly {0% {top: 0; left: 0; opacity: 1;} 50% {top: -10px; left: 15px; opacity: 0.6;} 80% {top: -20px; left: 40px; opacity: 0;} 81% {top: 0px; left: 0px; opacity: 0;} 100% {top: 0px; left: 0px; opacity: 1;}}
@keyframes fly {0% {top: 0; left: 0; opacity: 1;} 50% {top: -10px; left: 15px; opacity: 0.6;} 80% {top: -20px; left: 40px; opacity: 0;} 81% {top: 0px; left: 0px; opacity: 0;} 100% {top: 0px; left: 0px; opacity: 1;}}

.social > a {
  position: relative;
  padding-left: 20px;
}

.social > a .icon {
  position: absolute;
  top: 0;
  left: 0;
}

.social > a #twitter_i {
  top: 4px;
}

#twitter i.fa.animate {
    -webkit-animation: fly 1s ease 0s 1;
    -moz-animation: fly 1s ease 0s 1;
    -ms-animation: fly 1s ease 0s 1;
    -o-animation: fly 1s ease 0s 1;
    animation: fly 1s ease 0s 1;
}

.badge {
    display: inline-block;
    padding: 3px 6px 5px 6px;
    margin: 4px 2px;
    border-radius: 2px;
    color: #222;
    background-color: #e6e6e6;
    -webkit-box-shadow: 1px 1px 3px #f0f0f0;
    -moz-box-shadow: 1px 1px 3px #f0f0f0;
    -ms-box-shadow: 1px 1px 3px #f0f0f0;
    box-shadow: 1px 1px 3px #f0f0f0;
    font-variant: all-small-caps;
    font-size: 0.9em;
    line-height: 1em;
    font-weight: 300;
}

.badge.fr {
    color: #222;
    background-color: #e6e6e6;
    font-weight: 600;
    -webkit-box-shadow: 1px 1px 3px #f0f0f0;
    -moz-box-shadow: 1px 1px 3px #f0f0f0;
    -ms-box-shadow: 1px 1px 3px #f0f0f0;
    box-shadow: 1px 1px 3px #f0f0f0;
}

.cv {
  display: none;
}

.about .cv {
  visibility: hidden;
}

.badge.cv {
    margin-top: 10px;
    width: 100px;
    text-align: center;
    cursor: pointer;
    font-weight: 300;
}

.cv:hover {
    box-shadow: 1px 1px 1px #aaa;
}

section {
    padding-right: 10px;
}

.print_only {
    display: none;
}

.section_h {
    width: 40%;
    border-bottom: 1px solid #aaa;
    font-weight: 300;
}

.post .section_h {
  width: 100%;
}

.post h2 {
    font-weight: 300;
}

.post h3 {
    font-weight: 300;
}

.post #img_container {
  display: none;
}

.post header address {
  display: none;
}

.bio h4 {
  font-weight: 300;
  font-variant-caps: all-small-caps;
  margin-top: 8px;
  margin-bottom: 5px;
}


.portfolio h3 {
    font-weight: 300;
    margin-bottom: 0.2em;
}

.portfolio h3 .title:before {
  font-weight: 300;
  margin-right: 2px;
  content: "•••";
}

.portfolio h3 a {
    color: inherit;
}

.portfolio h3 a:visited {
    color: #444;
}

.portfolio h3 a i.fa {
    color: #888;
}

.portfolio h3 a:visited i.fa {
    color: #ccc;
}

.papers ul {
  list-style: none;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
}

.papers > ul > li:not(:first-child) {
  margin-top: 10px;
}

.journal {
  font-variant: small-caps;
  text-transform: uppercase;
}

.journal span {
  font-variant-caps: all-small-caps;
  text-transform: none;
}

.authors {
  list-style: none;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
}

.authors > li {
  display: inline-block;
  margin-right: 2px;
  font-style: italic;
}

.authors li:not(:last-child):after {
  content: ",";
}
