{% extends "base.html" %}

{% block header %}
    {% include "header.html" %}
    <div class="contents">
      <h3>Contents</h3>
      <ol>
        <li><a href="#intro">Intro</a></li>
        <li><a href="#education">Education</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#papers">Publications</a></li>
      </ol>
    </div>
{% endblock %}

{% block main %}
<section class="bio">
    <h2 class="section_h" id="intro">Intro</h2>
    <p>
        I am an experienced full stack web developer and I have proven myself
        across a variety of challenges involving designs, implementations, and
        minimum viable products. 
    </p>

    <p>
	I understand what business needs are and can translate
	these into prototypes, frameworks and, well, code ;)
    </p>

    <p>
	<h4>code quality</h4>
	I am as much curious, open, and learn quickly as I am
	collaborative. I combine all this with an abstract
	thinking skill worthy of my academic background, which is
	PhD in maths. This means my code is neat, and therefore
	scales easily and is easy to maintain. More importantly
	however, my code is easily comprehensible for others
	who join the team. This is super important in agile
	development with teams that (may) rotate quickly. 
    </p>

    <p>
	<h4>maintaince, testability and deadlines</h4>
	When designing code, I think forward and craft my code in
	a way that others can pick it up easily. This also means
	other components can be added on at little effort. 
    </p>
    <p>
	Testing code early is paramount. On tight deadlines
	there’s often not enough time to write thorough tests.
	If that’s the case, I go back and write the necessary
	test, resolve compromises done to meet deadlines. In the
	long run, wise code reviews always pay back.
    </p>

    <p>
        By using modern property testing techniques and simulations I was able
        to deliver complex network components which worked flawlessly on
        various platforms, from the developer loved Linux and MacOs machines to
        user friendly environments on Windows.
    </p>

    <p>
	<h4>functional programming</h4>
	I am an advocate for functional programming.  It often
	brings clarity, projects become easier to comprehend and
	allow for a reasonable way of managing side effects.
    </p>

    <div class="badges langs">
	<a class="badge" href="https://www.haskell.org/" target="_blank">Haskell</a>
	<a class="badge" href="https://www.wikiwand.com/en/Computer_network_programming" target="_blank">network programming</a>
	<a class="badge" href="https://nodejs.org" target="_blank">Node.js</a>
	<a class="badge" href="https://python.org" target="_blank">Python</a>
	<span class="badge">C</span></br>
	<span class="badge fr">JavaScript</span> 
	<a class="badge fr" href="http://purescript.org" target="_blank">PureScript</a>
	<a class="badge fr" href="https://facebook.github.io/react/" target="_blank">React</a>
	<a class="badge fr" href="http://redux.js.org/" target="_blank">Redux</a>
	<a class="badge fr" href="https://angularjs.org/" target="_blank">Angular</a>
	<span class="badge fr">html5</span> <span class="badge fr">css</span> <span class="badge fr">SASS</span>
    </div>
</section>
<section class="education" id="education">
    <h2 class="section_h">Education</h2>
    <div class="row">
	<b>PhD</b>: Research in Abstract Algebra and
	Category Theory, <i>Instituto Superior Técnico</i>,
	Lisbon.
    </div>
    <div class="row">
	<b>Master in Mathematics</b>: <i>Collage of
	    Inter-Faculty Individual Studies in Mathematics and
	    Natural Sciences</i> of <i>Warsaw University</i>, where
	I was studding Mathematics,
	Physics and Psychology.
    </div>
</section>
<section class="career_chronology print_only">
    <h2 class="section_h">Career Chronology</h2>
    <div class="row">
	<b>2013</b>: software engineer
    </div>
    <div class="row">
	<b>2009</b>: Python and C programmer (open source)
    </div>
    <div class="row">
	<b>2009-2013</b>: PhD in Mathematics, IST, Lisbon.
    </div>
</section>
<section class="portfolio" id="portfolio">
    <h2 class="section_h">Portfolio</h2>
    <p>Some of the most recent projects I worked for or trainings I took part
	of:</p>
    <article>
	<h3><a class="title" id="iohk" href="https://iohk.io" target="_blank">IOHK</a></h3>
	<p>
            Currently I work at <a href="https://iohk.io">IOHK</a> as the team
            lead for the Haskell networking team.  I also held a teaching
            assistance position for <a href="https://iohk.io">IOHK</a> / <a
		href="https://www.well-typed.com">Well-Typed's</a> Haskell
	    course which took place in Barbados.
	</p>
        <p>
            Majority of my work at <a href="https://iohk.io">IOHK</a> is
            available as open source.  I mostly contributed to <a
              href="https://github.com/input-output-hk/ouroboros-network">ouroboros-network</a>
            repository.  I contributed to the <a
              href="https://hydra.iohk.io/job/Cardano/ouroboros-network/native.docs.x86_64-linux/latest/download/1">design
              document</a> and <a href="https://hydra.iohk.io/job/Cardano/ouroboros-network/native.docs.x86_64-linux/latest/download/2">technical documentation</a>

            Here are some main achievements:
            <ul>
              <li>
                I contributed to session type framework <a href="https://input-output-hk.github.io/ouroboros-network/typed-protocols/Network-TypedProtocol.html">typed-protocols</a>.

                Using type level description of a protocol not only turned
                protocol errors into type errors but also made it much easier
                to share and discuss ideas:  using <code>typed-protocols</code>
                protocol state machines become the primiary focus point.  It
                allowed us to reason about protocol behaviour, especially about 
                adversarial behaviour.  The novelity of
                <code>typed-protocols</code> is using 
                <a
                                 href="https://www.wikiwand.com/en/Protocol_pipelining">
                  protocol pipelining</a> in the context of session types.
              </li>
              <li>
                <p>
                  I authored <a href="https://github.com/input-output-hk/ouroboros-network/tree/master/Win32-network">Win32-network</a>
                library.
                <p>

                <p>
                One of IOHK's products the <a
                  href="https://daedaluswallet.io/">Deadalus wallet</a> is
                a primary Windows application, with thousands of users.  This
                library, together with a small abstraction layer allowed us to
                write platform independent code (which runs primarily on Linux,
                Windows and MacOs).  With <code>Win32-network</code> we ware
                able to achieve throuput comparable to what Linux does and we
                never heard back complains from Windows users regarding
                networking!
                </p>

                <small>
                  <p>
                  <code>Win32-network</code> is a low level library which solves some
                  outstanding problems when writing Haskell networking code on
                  Windows.  The original Haskell <code>IO</code> calls on Windows
                  can block when one tries to kill a thread which executes them,
                  which can lead to leaking resrouces (sockets) or unresponsive
                  behaviour when a user is trying to shut down application.   We
                  also discovered that IO calls on Windows can deadlock without
                  making progress when done concurrently.
                  <code>Win32-network</code> library solves both problems.
                  </p>


                  <p>
                  <code>Win32-network</code> was designed based on <a
                                                                     href="https://hackage.haskell.org/package/winio">winio</a>
                  library.  Unlike the original, it uses very little
                  <code>C</code> code (just a single header file).  It
                  implemented an asynchronous <code>IO</code> manager using
                  <a
                    href="https://docs.microsoft.com/en-us/windows/win32/fileio/i-o-completion-ports">IO
                    completion ports</a>.  Very similar design was picked by
                  <code>GHC</code> team for the <code>GHC</code> implementation
                  of <code>IO manager</code> on Windows which will be available
                  in one of future versions of <code>GHC</code>.
                  </p>
                </small>
              </li>
              <li>
                I contributed to <a href="https://input-output-hk.github.io/ouroboros-network/io-sim/Control-Monad-IOSim.html">io-sim</a> a simulator and a drop
                in replacement for <code>IO</code> monad.  <code>IOSim</code>
                is a pure monad (free monad) which supports: <ul>
                  <li><code>Haskell</code> thread interface</li>
                  <li><code>Haskell</code> synchronous and asynchronous exceptions</li>
                  <li><a href="https://hackage.haskell.org/package/async"><code>async</code></a> interface</li>
                  <li><a href="https://hackage.haskell.org/package/stm"><code>stm</code></a> (software transaction memory) interface</li>
                  <li>time primitives, which are important for writing network simulations</li>
                  <li>and more ...</li>
                </ul>
                It allows us to write production components that can run both
                in real <code>IO</code> and in simulation.  Testing components
                in simulation using property testing proved to be a very
                efficient way of checking correctness and discovering possible
                bugs that could only surface in very specific scenarios.  This
                allows to test internal state changes.
              </li>
              <li>
                I wrote and maintained several <a
                                                 href="https://github.com/input-output-hk/ouroboros-network/tree/master/ouroboros-network/src/Ouroboros/Network/Protocol">protocols</a>
                using <a
                  href="https://input-output-hk.github.io/ouroboros-network/typed-protocols/Network-TypedProtocol.html">typed-protocols</a>
                package.
              </li>
              <li>
                I also helpped to mainain CI using <code>github-actions</code>,
                and an early version of CI using <a
                href="https://nix.dev/index.html">nix</a>.
              </li>
            </ul>
        </p>
        <div class="badges">
          <span class="badge">Haskell</span>
          <span class="badge">network programming</span>
          <span class="badge">nix</span>
        </div>
    </article>
    <article>
	<h3><a class="title" id="well-typed-performance-training" href="https://skillsmatter.com/courses/542-well-typed-guide-to-haskell-performance-and-optimization" target="_blank">Well-Typed Guide to Haskell Performance and Optimization</a></h3>
	<p>
	    In October 2018 I took a two day course organised by
	    <a href="https://www.well-typed.com">Well-Type</a> at Skills-Matter
	    in London titled <i>Well-Typed Guide to Haskell Performance and
	    Optimization</i>.
	</p>
	<p>
	    The training covered low level data representation used by Haskell
	    runtime system, lazy evaluation, Haskell intermediate
	    representation, insides into Haskell optimisations
	    strategies (stricktness analysis, inlining).  With examples based
	    on real bugs found by Well-Typed engineers while doing Haskell
	    consulting around the world.
	</p>
        <div class="badges">
          <span class="badge">Haskell</span>
        </div>
    </article>
    <article>
	<h3><span class="title" id="praxis-training">Functional Correctness Training</span></h3>
	<p>
	    In November 2018 I took part in a <i>Functional Correctness
		Training</i> delivered by prof. John Hughes (one of
	    Haskell founders and the original author of QuickCheck library), <a
		href="https://www.well-typed.com">Well-Typed</a> and <a
		href="https://iohk.io">IOHK</a>.
	</p>
	<p>
	    The training covered advanced usage of QuickCheck and property based
	    testing, semi-formal specifications.
	</p>
        <div class="badges">
          <span class="badge">Haskell</span>
          <span class="badge">QuickCheck</span>
        </div>
    </article>
    <article>
	<h3><a class="title" id="gravicus" href="http://gravicus.com" target="_blank">Gravicus</a></h3>
	<p>
	I worked at Gravicus where we used
	<a href="http://purescript.org">PureScript</a> and
	<a href="https://facebook.github.io/react/">React</a>.
	I setup various projects using <a
	    href="https://github.com/coot/react-redox">Redox</a>,
	my PureScript implementation of redux architecture
	(using free monads paired cofree comonads).
	</p>
	<p>
	I've been also responsible for implementing pixel
	perfect designs closely working with our designer.
	Writing complex ui elements using pseudo-elements and
	well designed modern css.  I've decided to try
	<a href="https://github.com/postcss/postcss"
	    target="_blank">postcss</a>.  It introduces proper
	scoping of css which avoids problems in the long run.
	It fits well into functional programming paradigm with
	its composition of css classes (it tames side effects
	of globally scoped css and introduces composition of
	css classes which is obeys the laws of a semigroup).
	</p>
	<p>
	I setup unittest which runs both in node with <a
	    href="http://pursuit.purescript.org/packages/purescript-test-unit"
	    target="_blank">purescript-test-unit</a> and in
	the browser using karma runner.  Before taking up this
	role I wrote a library to run
	<code>purescript-test-unit</code> using karma runner in
	a browser environment and bindings for the airbnb's <a
	    href="https://github.com/airbnb/enzyme"
	    target="_blank">enzyme</a> react testing library.
	This allows us to properly test react components and
	write test in PureScript.
	</p>
	<p>
	Redox architecture which splits the redux interpreter
	from the DSL allows to plug an interpreter designed for
	tests which can mock data, pretend request.  This will
	allow us to have a very good testing architecture for
	our work.  This is based on my work published on github:
	<a target="_blank" href="https://pursuit.purescript.org/packages/purescript-redox"><code>redox</code></a>,
	<a target="_blank" href="https://pursuit.purescript.org/packages/purescript-react-redox"><code>react-redox</code></a>
	and my purely functional routing library <a
	target="_blank"
	href="https://github.com/coot/purescript-cofree-react-router"><code>cofree-react-router</code></a>.
	</p>
	<div class="badges">
          <span class="badge fr">Progressive Web App</span>
          <span class="badge fr">PureScript</span>
          <span class="badge fr">React</span>
          <span class="badge fr">Redox</span>
          <span class="badge fr">HTML5/CSS3</span>
          <span class="badge fr">CssModules</span>
          <span class="badge fr">WebPack</span>
          <span class="badge fr">karma</span>
          <span class="badge fr">purescript-enzyme</span>
          <span class="badge fr">purescript-unit-test</span>
	</div>
    </article>
    <article>
	<h3><a class="title" id="zephyr" href="https://github.com/coot/zephyr" target="_blank">Zephyr</a></h3>
	<p>
	This is an open-source project which provides a
	tree shaking algorithm for
	<a href="http://purescript.org" target="_blank">PureScript</a>.
	It outputs a set of CommonJS modules which can be
	bundled with webpack, rollup or any other tool.
	<code>zephyr</code> allows to build lazy loaded
	applications that are also properly minified before
	shipping. This opens new possibilities in the
	<code>PureScript</code> ecosystem.
	</p>
	<div class="badges">
	<span class="badge">Haskell</span>
	<span class="badge">PureScript</span>
	</div>
    </article>
    <article>
	<h3><a class="title" id="purescript-ecosystem" href="http://purescript.org">PureScript</a></h3>
	<p>
	I am an active member of the <a href="http://purescript.org" target="_blank">PuresScript</a> community,
	I have contributed to the <a target="_blank"
	href="https://github.com/purescript/purescript">PureScript</a>
	compiler and I authored and maintain various libraries.  My noticeable original libraries:
	<ul>
	    <li>
	    <a href="https://pursuit.purescript.org/packages/purescript-redox" target="_blank">purescript-redox</a>
	    <section>
		<a href="http://redux.js.org/"
		target="_blank">Redux</a> architecture for
		<code>PureScript</code> applications, that
		focuses on correctness and compostability and
		testability.  It is using a pairing between free
		monad (DSL) and a cofree comonad (interpreter).
		Interestingly you can compose DSL's (taking
		a sum) and compose the corresponding interpreters.
	    </section>
	    </li>
	    <li>
	    <a href="https://pursuit.purescript.org/packages/purescript-react-redox" target="_blank">purescript-react-redox</a>
	    <section>
		<a href="https://facebook.github.io/react/" target="_blank">React</a> bindings for Redox.
	    </section>
	    </li>
	    <li>
	    <a href="https://pursuit.purescript.org/packages/purescript-cofree-react-router" target="_blank">purescript-cofree-react-router</a>
	    <section>
		React router modelled using a <code>Cofree Array</code> comonad.  This is not surprising if you realise that <a href="https://developer.mozilla.org/en-US/docs/Web/API/Document_Object_Model" target="_blank">DOM</a> can be modelled by <code>Cofree Array</code> tree structure.  The comonad gives nice api for declaring routes and the library provides combinators for querying mounted components.
	    </section>
	    </li>
	    <li>
	    <a href="https://pursuit.purescript.org/packages/purescript-react-ix" target="_blank">purescript-react-ix</a>
	    <section>
		PureScript React bindings that provide safe way of dealing with advanced react features like refs, mutations of the react element (storing callback references, DOM references).  It has no runtime overhead.  The safety is provided by tracking the changes of a <code>ReactThis</code> in an indexed monad.
	    </section>
	    </li>
	    <li>
	    <a href="https://pursuit.purescript.org/packages/purescript-react-spaces" target="_blank">purescript-react-spaces</a>
	    <section>
		A free monad DSL which provides a interface for
		writing React vDOM tree.  It is interpreted
		during execution time so it has a runtime cost.
		It is similar to <a
		href="https://jaspervdj.be/blaze/" target="_blank">BlazeHTML</a>
	    library.  Together with redox this provides an
	    alternative for <a
	    href="http://purescript-pux.org" target="_blank">pux</a>.
	    </section>
	    </li>
	    <li>
	    <a href="https://pursuit.purescript.org/packages/purescript-karma-test-unit" target="_blank">purescript-karma-test-unit</a>
	    <section>
		This is a small bridge that lets run <a href="https://pursuit.purescript.org/packages/purescript-test-unit" target="_blank">purescript-test-unit</a> tests in a browser using <a href="https://karma-runner.github.io/1.0/index.html" target="_blank">karma runner</a>.
	    </section>
	    </li>
	    <li>
	    <a href="https://github.com/purescript-contrib/purescript-vim" target="_blank">purescript-vim</a> and <a href="https://github.com/FrigoEU/psc-ide-vim" target="_blank">psc-ide-vim</a>
	    <section>
		I am maintaining the first one, and I rewrote the second one.  These are <a href="https://www.vim.org" target="_blank">vim</a> plugins that makes Haskell devs cry ;).
	    </section>
	    </li>
	</ul>
	I did non trivial contributions to more than a few core purescript libraries, just to mention a few:
	<ul>
	    <li>
		<a href="https://github.com/purescript/purescript-free" target="_blank">purescript-free</a>
	    </li>
	    <li>
		<a href="https://github.com/purescript-contrib/purescript-profunctor-lenses" target="_blank">profunctor-lenses</a>
	    </li>
	    <li>
		<a href="https://github.com/purescript-web/purescript-dom" target="_blank">purescript-dom</a>
	    </li>
	    <li>
		<a href="https://github.com/bodil/purescript-test-unit" target="_blank">purescript-test-unit</a>
	    </li>
	    <li>
		<a href="https://github.com/purescript-contrib/purescript-react" target="_blank">purescript-react</a>
	    </li>
	</ul>
	</p>
    </article>
    <article>
	<h3><a class="title" id="rubble" href="http://rubble.tech" target="_blank">Rubble</a></h3>
	<p>
	I have delivered progressive web apps written with
	ReactJS and Knockout and relied on custom
	<a href="https://rubble.tech">Rubble</a>
	logic language for the backend as well as Python and
	NodeJS. 
	</p>
	<p>
	My job as a JavaScript, Python and Rubble engineer was
	to develop applications based on rubble logic programming
	platform, documentation proofreading in close
	cooperation with our CTO.
	</p>
	<p>
	One of the challenges up front was to tame a legacy
	code. I have done this by introducing flow - the type
	system from Facebook for JavaScript, so that we at
	rubble could reason about the code with confidence. 

	I turned our flag workflow application into single page
	app which loads instantly, with smooth transitions
	between page views, 60fps animations and offline
	support.
	</p>
	<p>
	Along the way, which was super exciting for me, I have
	also picked up a new programming paradigm: logic
	programming utilising programming language Rubble,
	which was developed fully in-house. It is a fully
	declarative rule engine and process engine, with
	forward and backward chaining and syntax inspired by
	Prolog. I proofread the documentation and helped to
	debug critical issues; I rebuilt web interface for
	it using websockets for instant communication using
	ReactJS.
	</p>
	<div class="badges">
	<span class="badge">Flask <small>(Python)</small></span>
	<span class="badge">Flask-Restful <small>(Python)</small></span>
	<span class="badge">nodejs</span>
	<span class="badge">Rubble</span>
	<span class="badge">websockets</span>
	<span class="badge fr">Progressive Web Apps</span>
	<span class="badge fr">ES6</span>
	<span class="badge fr">React</span>
	<span class="badge fr">Redux</span>
	<span class="badge fr">Knockout</span>
	<span class="badge fr">jQuery</span>
	<span class="badge fr">Crossroads</span>
	<span class="badge fr">Hasher</span>
	<span class="badge fr">HTML5/CSS3</span>
	<span class="badge fr">LESS</span>
	<span class="badge fr">SASS</span>
	<span class="badge fr">Twitter Bootstrap</span>
	<span class="badge fr">gulp</span>
	<span class="badge fr">Browserify</span>
	<span class="badge fr">WebPack</span>
	</div>
    </article>
    <article>
	<h3><a class="title" id="quantifiedcode" href="http://www.quantifiedcode.com" target="_blank"><small></small> QuantifiedCode</a></h3>
	Static code analysis platform for Python. 
	<p>I worked as a backend and frontend engineer. This
	    was my first real React application, pre flux, or
	    react-redux era...</p>
	<div class="badges">
	    <span class="badge">Flask <small>(Python)</small></span>
	    <span class="badge">Celery</span>
	    <span class="badge">MongoDB</span>
	    <span class="badge">Ansible</span>
	    <span class="badge">Apache</span>
	    <span class="badge">Stripe</span>
	    <span class="badge">Github API</span>
	    <span class="badge fr">React</span>
	    <span class="badge fr">jQuery</span>
	    <span class="badge fr">Gulp</span>
	    <span class="badge fr">Require.js</span>
	    <span class="badge fr">HTML5/CSS3</span>
	    <span class="badge fr">SASS</span>
	    <span class="badge fr">Twitter Bootstrap</span>
	</div>
    </article>
    <article>
	<h3><a class="title" id="neuwagen" href="http://neuwagen.kaufen" target="_blank"><small> </small>Neuwagen</a></h3>
	Car selling web application.
	<p>
	    In my work as back-end dev, I focused on development
	    and maintenance of various parts of the system
	    including reviewing complex logic at the backend. In
	    addition to that I was also busy with the front-end. 
	</p>
	<div class="badges">
	    <span class="badge">Django <small>(Python)</small></span>
	    <span class="badge">Celery</span>
	    <span class="badge">MySQL</span>
	    <span class="badge">RabbitMQ</span>
	    <span class="badge">Vagrant</span>
	    <span class="badge">Scrappy</span>
	    <span class="badge fr">HTML5/CSS3</span>
	    <span class="badge fr">jQuery</span>
	    <span class="badge fr">d3</span>
	    <span class="badge fr">Twitter Bootstrap</span>
	</div>
    </article>
    <article>
	<h3><a class="title" id="github-recruiting" href="http://qcd-recruiting.cloudapp.net" target="_blank"><small></small> Github Recruiting</a></h3>
	Recruiting app for Github developers. 
	<p>
	    This was an exciting time for me to work on a small
	    Angular application backed by a github data on open
	    source community and using the <a
	    href="https://github.com/libgit2/pygit2"
	    target="_blank">pygit2 (libgit2)</a> library. For
	    this project I worked as a full stack web developer
	    and delivered a proof of concept in almost no time :)
	</p>
	<div class="badges">
	    <span class="badge">Flask <small>(Python)</small></span>
	    <span class="badge">MongoDB</span>
	    <span class="badge">Flask-Restful <small>(Python)</small></span>
	    <span class="badge">Ansible</span>
	    <span class="badge">Apache</span>
	    <span class="badge">PyGit2 (<small>libgit2</small>)</span>
	    <span class="badge">Github API</span>
	    <span class="badge">Google Maps API</span>
	    <span class="badge fr">Angular</span>
	    <span class="badge fr">jQuery</span>
	    <span class="badge fr">Gulp</span>
	    <span class="badge fr">HTML5/CSS3</span>
	    <span class="badge fr">SASS</span>
	    <span class="badge fr">Twitter Bootstrap</span>
	</div>
    </article>
    <article>
	<h3><span id="tellterms" class="title">TellTerms</span></h3>
	Social platform for sharing enriched hyperlink text connected to LinkedIn <i class="fa fa-linkedin-square"></i>.
	<p>
	    I worked both as a backend and front-end developer.
	    I implemented pixel perfect designs handed by the
	    design team.  There was a big issue with legacy code
	    at the beginning.  After initial struggle with a single
	    page app written by the previous team (using just
	    jQuery) I advocated for using angular and I rewrote
	    the application using modern approach.  This was
	    a difficult decision for managers but after all they
	    understood the benefits they got - much more reliable
	    code base, well tested - hence more happy workflow
	    for every body in the team and the users.
	</p>
	<div class="badges">
	    <span class="badge">Django</span>
	    <span class="badge">Celery</span>
	    <span class="badge">SQL</span>
	    <span class="badge">MySQL</span>
	    <span class="badge">Nginx <small>(hosted on AWS)</small></span>
	    <span class="badge">RabbitMQ</span>
	    <span class="badge">Rest Framework</span>
	    <span class="badge fr">Angular</span>
	    <span class="badge fr">jQuery</span>
	    <span class="badge fr">HTML5/CSS3</span>
	</div>
    </article>
    <article>
	<h3><span id="chronch" class="title">Chronch</span></h3>
	    Chronology app for lawyers.
	<p>
	    This project, developed with a team of legal
	    professionals, asked for a tool to collaborate on
	    a knowledge base in legal cases.
	</p>

	<p>
	    It was exciting to closely collaborate with people
	    of different background whose needs had to be
	    addressed.  Action from the ground up.
	</p>
	<div class="badges">
	    <span class="badge">Flask <small>(python)</small></span>
	    <span class="badge">SQLAlchemy</span>
	    <span class="badge">PostgreSQL</span>
	    <span class="badge">Heroku</span>
	    <span class="badge fr">HTML5/CSS3</span>
	    <span class="badge fr">Angular</span>
	    <span class="badge fr">jQuery</span>
	    <span class="badge fr">Twitter Bootstrap</span>
	</div>
    </article>
    <article>
	<h3><span id="edurino" class="title">Edurino</span></h3>
	Email-based micro-learning application
	<p>
	    The service targeted busy professionals who wanted
	    to learn new skills. Where I helped was with my
	    expertise in fat back-end and thin front-end
	    applications. 
	</p>
	<p>
	    With today's technologies, like service workers
	    - these kind of apps can be heavily optimised as well
	    (here is a <a
	    href="https://jakearchibald.com/2016/fun-hacks-faster-content/">link</a>
	    to an interesting issue that was present on
	    github.com, where fresh pages loaded faster than
	    client side routing, and a solution using by
	    streaming the content into browser’s HTML parser).
	</p>
	<div class="badges">
	    <span class="badge">Flask <small>(python)</small></span>
	    <span class="badge">SQLAlchemy</span>
	    <span class="badge">PostgreSQL</span>
	    <span class="badge">Heroku</span>
	    <span class="badge fr">HTML5/CSS3</span>
	    <span class="badge fr">jQuery</span>
	    <span class="badge fr">Twitter Bootstrap</span>
	</div>
    </article>
</section>
<section class="papers" id="papers">
    <h2 class="section_h">Scientific Publications</h2>
    <p>Some papers and preprints that I authored or coauthored:</p>
    <ul>
    <li>
      <a href="https://link.springer.com/chapter/10.1007/978-3-030-57761-2_5">Flexible Formality Practical Experience with Agile Formal Methods</a>
      <div class="journal">Trends in Functional Programming <span>21st International Symposium, TFP 2020</span></div>
      <ul class="authors">
        <li>Philipp Kant</li>
        <li>Kevin Hammond</li>
        <li>Duncan Coutts</li>
        <li>James Chapman</li>
        <li>Nicholas Clark</li>
        <li>Jared Courdan</li>
        <li>Neil Davis</li>
        <li>Javier Diaz</li>
        <li>Wolfgang Jeltsch</li>
        <li>Marcin Szamotulski</li>
        <li>Polina Vinogradova</li>
      </ul>
    </li>
    <li>
	<a href="http://www.ifaamas.org/Proceedings/aamas2010/pdf/01%20Full%20Papers/02_03_FP_0227.pdf">A Logic-Based Representation
for Coalitional Games with Externalities</a>
	<div class="journal">AAMAS2010 <span>The Ninth International Conference on Autonomous Agents and Multiagent Systems</span></div>
	<ul class="authors">
	<li>Tomasz Michalak</li>
	<li>Dorota Marciniak</li>
	<li>Marcin Szamotulski</li>
	<li>Talal Rahwan</li>
	<li>Michael Wooldridge</li>
	<li>Peter McBurney</li>
	<li>Nicholas R. Jennings</li>
	</ul>
	<div class="badges">
	<span class="badge">game theory</span>
	</div>
    </li>
    <li>
	<a href="http://ebooks.iospress.nl/volumearticle/5766">Computational Aspects of Extending the Shapley Value to Coalitional Games with Externalities</a>
	<div class="journal">ECAI2010 <span>19th European Conference on Artificial Intelligence</span></div>
	<ul class="authors">
	<li>Tomasz Michalak</li>
	<li>Talal Rahwan</li>
	<li>Dorota Marciniak</li>
	<li>Marcin Szamotulski</li>
	<li>Nicholas R. Jennings</li>
	</ul>
	<div class="badges">
	<span class="badge">game theory</span>
	</div>
    </li>
    <li>
	<a href="https://link.springer.com/chapter/10.1007/978-3-0348-0816-3_8">On a question by Markus Seidel</a>
	<div class="journal">Operator Theory, Operator Algebras and Applications</div>
	<ul class="authors">
	<li>Davor Dragičević</li>
	<li>Guida Preto</li>
	<li>Pedro A. Santos</li>
	<li>Marcin Szamotulski</li>
	</ul>
	<div class="badges">
	<span class="badge">operator theory</span>
	</div>
    </li>
    <li>
	<a href="http://www.worldscientific.com/doi/abs/10.1142/S0217751X09046229">Total space of abelian gerbes</a>
	<div class="journal">International Journal of Modern Physics A</div>
	<ul class="authors">
	<li>Dorota Marciniak</li>
	<li>Marcin Szamotulski</li>
	</ul>
    </li>
    <li>
	<a href="https://arxiv.org/abs/1304.7643">Galois Theory for H-extensions</a>
	<div class="phd">PhD dissertation</div>
	<ul class="authors">
	<li>Marcin Szamotulski</li>
	</ul>
	<div class="badges">
	<span class="badge">galois theory</span>
	<span class="badge">hopf galois extensions</span>
	</div>
    </li>
    </ul>
</section>
{% endblock %}
