<!DOCTYPE html>
<html lang="en">
    <head id="head">
	{% include "head.html" %}

        {% block twitter %}
        <meta name="twitter:card" content="photo" />
        <meta name="twitter:title" content="Mathematics and Programming Blog" />
        <meta name="twitter:description" content="Blog about reach intersection of mathematics and programming, explaining mathematical ideas behind programming languages concepts." />
        <meta name="twitter:creator" content="@me_coot" />
        <meta name="twitter:url" content="https://marcinszamotulski.me" />
        <meta name="twitter:site" content="@me_coot" />
        {% endblock %}
        {% block twitter_image %}
        <meta name="twitter:image" content="https://marcinszamotulski.me/images/monad-associativity.png" />
        {% endblock %}

	{% block headExtra %}
	{% endblock %}
	<!-- Matomo -->
	<script async type="text/javascript">
	  var _paq = _paq || [];
	  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
	  _paq.push(['trackPageView']);
	  _paq.push(['enableLinkTracking']);
	  (function() {
	    var u="//analytics.coot.me/";
	    _paq.push(['setTrackerUrl', u+'piwik.php']);
	    _paq.push(['setSiteId', '1']);
	    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
	    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
	  })();
	</script>
	<!-- End Matomo Code -->
    </head>
    <body>
	<div id="wrapper" class="wrapper {{ wrapperClass }}">
	    <header class='info-hdr'>
		{% block header %}
		{% endblock %}
	    </header>
	    <main>
		{% block main %}
		{% endblock main %}
                {% block footer %}
                {% endblock %}
	    </main>
	    <div class="clearfix"></div>
	</div>
        <footer>
            Copyright © Marcin Szamotulski 2017-2021, <a href="https://raw.githubusercontent.com/coot/homepage/master/LICENSE"><span class="license">license</span></a>
        </footer>
    </body>
</html>
