<div id="img_container">
    <h1 id="name">
    Marcin Szamotulski, PhD
    <div class="subtitle">
    {% block subtitle %}
    Functional Programming Blog
    {% endblock %}
    </div>
    </h1>
</div>
<ul class="links">
    <!-- <li class="home"><a href="/">Home</a></li> -->
    <!-- <li class="about"><a href="/about.html">About me</a></li> -->
</ul>
<address>
    <div class="personal">
	<div class="print_only inline">
          <div>
	    <a href="https://coot.me">https://coot.me</a> <small>(home page)</small>
          </div>
          <div>
            <a href="https://coot.me/about.html">https://coot.me/about.html</a> <small>(online version)</small>
          </div>
          <div>
	    <a href="mailto:coot@coot.me">coot@coot.me</a>
          </div>
	</div>
    </div>
    <div class="social">
        <a href="https://coot.me/feed.rss">
          <i id="rss_i" class="icon fa fa-rss"></i> rss
        </a>
	<a id="twitter" href="https://twitter.com/me_coot" target="_blank">
	    <i id="twitter_i" class="icon fa fa-twitter"></i>
	    Twitter
	</a>
	<a id="github" href="https://github.com/coot" target="_blank">
	    GitHub
	</a>
	<a id="Hackage" href="https://hackage.haskell.org/user/coot" target="_blank">Hackage</a>
	<a id="linkedin" href="https://www.linkedin.com/in/marcin-szamotulski" target="_blank">
	LinkedIn
	</a>
    </div>
    <div class="clearfix"></div>
</address>
<div class="clearfix"></div>
<div class="cv badge fr" onclick="window.print()" name="print cv">Curriculum Vitae</div>
