<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="chrome=1" />
<title>{{ title }}</title>
<meta name="description" content="{{ description }}" />
<meta name="author" content="Marcin Szamotulski" />
<meta name="keywords" content="Haskell" />
<meta prefix="og: http://ogp.me/ns#" property="og:title" content="{{ title }}" />
<meta prefix="og: http://ogp.me/ns#" property="og:site_name" content="Coot's blog" />
<meta prefix="og: http://ogp.me/ns#" property="og:description" content="{{ description }}" />
<meta prefix="og: http://ogp.me/ns#" property="og:type" content="website" />
<meta prefix="og: http://ogp.me/ns#" property="og:url" content="https:/coot.me" />
<meta prefix="og: http://ogp.me/ns#" property="og:image" content="https://coot.me/images/elf-fg.jpg" />

<link rel="alternate" type="application/rss+xml" href="https://coot.me/feed.rss"/>
<link rel="shortcut icon" type="image/png" href="/images/elf-fg.jpg" />

<link rel="manifest"   href="/manifest.json" />
<link rel="stylesheet" href="/assets/normalize.css" />
<link rel="stylesheet" href="/assets/fonts.css" />
<link rel="stylesheet" href="/assets/style.css" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="/assets/print_style.css" media="print"/>

<script type="text/javascript" async src="/assets/html5shiv.min.js"></script>
<script type="text/javascript" async src="/assets/html5shiv-printshiv.min.js"></script>
<script type="text/javascript" src="/assets/index.js"></script>
