{% extends "base.html" %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block main %}
    <header>
	<h1 class="section_h">Blog posts</h1>
    </header>
    <ul class="blog-posts">
	<li>
	    <a href="/posts/monadicity.html"><h1>Monadicity</h1> <i>from algebras to monads and back to algebras</i></a>
	    <p>
		Introduction to the monadicity theory based on <a
		    href="https://hackage.haskell.org/package/free-algebras">free-algebras</a>
		Haskell package.
	    </p>
	</li>
	<li>
	    <a href="https://hackage.haskell.org/package/free-algebras"><h1>Free algebras</h1> <i>haddock documentation</i></a></li>
	    <p>
		Link to <code>free-algebra</code> package on hackage.
	    </p>
	<li>
	    <a href="/posts/free-monads.html"><h1>From free algebras to free monads</h1></a>
	    <p>
		Introduction to <i>Universal Algebra</i>, a mathematical discipline
		that is hidden under many constructions in Haskell ecosystem.
		It is more concrete than <i>Category Theory</i>, and hence often
		easier to understand.  It is also a very useful source of
		examples in <i>Category Theory</i>.
	    </p>
	</li>
	<li>
	    <a href="/posts/peano-algebras-in-haskell.html"><h1>Peano Algebras in Haskell</h1></a>
	</li >
    </ul>
{% endblock %}
